
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projeto CrMall Teste Avaliação</h2>

<div class="container">
    <div>Projeto Web criado em .Net Framework 4.8</div>
    <div>Ultilizando base de dados MySql, necessario mudar o arquivo Web.config para novas bases </div>
    <div>Criado por Luis Fernando Rodrigues Hayashi</div>
</div>